.ui-widget:focus {
    border: none;
}

.slider_wrapper .ui-slider .ui-slider-handle {
  background: url(../images/arrow_button.png) no-repeat;
  border: none;
  height: 19px;
  width: 19px;
  top: -5px;
  margin-left: -10px;
}
.slider_wrapper .ui-slider .ui-slider-handle:focus {
  background: url(../images/arrow_button_hover.png) no-repeat;
}

.slider_wrapper .ui-slider {
  background: url(../images/arrow_bg.png) repeat-x;
  height: 8px;
  margin: 5px 0px 6px 0px;
  border: none;
}

.slider_wrapper {
  width: 300px;
  height: 50px;
  margin: 20px;
  position: relative;
}

.slider_wrapper .arrowhead {
  position: absolute;
  right: -20px;
  top: -8px;
  height: 24px;
  width: 29px;
  background: url(../images/arrow_head.png);
}
